Entity Tester/players/
Entity Tester/data/minecraft/*
!Entity Tester/data/minecraft/scoreboard.dat
Entity Tester/dimensions/minecraft/*
!Entity Tester/dimensions/minecraft/overworld
Entity Tester/dimensions/minecraft/overworld/data/
Entity Tester/dimensions/minecraft/overworld/poi/
Entity Tester/dimensions/minecraft/overworld/region/*
!Entity Tester/dimensions/minecraft/overworld/region/r.0.0.mca
!Entity Tester/dimensions/minecraft/overworld/region/r.0.-1.mca
!Entity Tester/dimensions/minecraft/overworld/region/r.-1.0.mca
!Entity Tester/dimensions/minecraft/overworld/region/r.-1.-1.mca
Entity Tester/dimensions/minecraft/overworld/entities/*
!Entity Tester/dimensions/minecraft/overworld/entities/r.0.0.mca
!Entity Tester/dimensions/minecraft/overworld/entities/r.0.-1.mca
!Entity Tester/dimensions/minecraft/overworld/entities/r.-1.0.mca
!Entity Tester/dimensions/minecraft/overworld/entities/r.-1.-1.mca
Entity Tester/level.dat_old
Entity Tester/session.lock