Entity Tester/advancements/
Entity Tester/data/*
!Entity Tester/data/scoreboard.dat
Entity Tester/DIM1/
Entity Tester/DIM-1/
Entity Tester/playerdata/
Entity Tester/poi/
Entity Tester/stats/
Entity Tester/level.dat_old
Entity Tester/session.lock
Entity Tester/region/*
!Entity Tester/region/r.0.0.mca
!Entity Tester/region/r.0.-1.mca
!Entity Tester/region/r.-1.0.mca
!Entity Tester/region/r.-1.-1.mca
Entity Tester/entities/*
!Entity Tester/entities/r.0.0.mca
!Entity Tester/entities/r.0.-1.mca
!Entity Tester/entities/r.-1.0.mca
!Entity Tester/entities/r.-1.-1.mca